<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Chamber Match</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js"></script>
  <script src="vendor/handlebars/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

</head>

<body class="main red">
  <div class="container"
    <div class="row">
      <div id="profile" class="col-md-12 text-center inputLabel">
        <h1 >User Profile</h1>
        <br>
      </div>
    </div>
  </div>



  <div id="user">
      <form class="form-inline inputLabel" id="user_profile_form">
          <div class="form-group col-md-1">
          </div>
          <div class="form-group col-md-3">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" id="profile_name" name="name" value="" required>
          <br>
          <label for="instrument">Instrument</label>
          <select name="instrument" id="profile_instrument" class="black" required = "true" value="">
            <option value="1st Violin">1st Violin</option>
            <option value="2nd Violin">2nd Violin</option>
            <option value="Viola">Viola</option>
            <option value="Cello">Cello</option>
            <option value="Piano">Piano</option>
            <option value="Clarinet">Clarinet</option>
          </select>
          <br>
          <label for="level">Level</label>
          <select name="level" value="" class="black"  id="profile_level" >
            <option value="10">Professional</option>
            <option value="9">A+</option>
            <option value="8">A</option>
            <option value="7">A-</option>
            <option value="6">B+</option>
            <option value="5">B</option>
            <option value="4">B-</option>
            <option value="3">C+</option>
            <option value="2">C</option>
            <option value="1">C-</option>
          </select>
        </div>
        <div class="form-group col-md-4">

          <label for="street_address">Street Address</label>
          <input type="text" class="form-control" id="profile_street_address" name="street_address" value="" required>
          <br>
          <label for="city">City</label>
          <input type="text" class="form-control" name="city" id="profile_city" value="" required>
          <br>
          <label for="state">State</label>
          <input type="text" class="form-control" name="state" id="profile_state" value="" required>
          <br>
          <label for="zip_code">Zip Code</label>
          <input type="text" class="form-control" name="zip" id="profile_zip" value="" required>
        </div>
          <div class="form-group col-md-4">
        </div>
        <div class="col-md-4">
          <button id="saveButton" name="saveButton" class="btn btn-primary">Update User Data</button>
        </div>
      </form>
      <div class="col-md-4">
        <button id="newEventButton" name="saveButton" class="btn btn-primary" >Create New Event</button>
      </div>
      <div class="col-md-4">
        <a href="./search" class="btn btn-primary">Search for an Event</a>
      </div>
  </div>

  <!-- event list -->

  <section class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="inputLabel">Your Events</h2>
      </div>
    </div>
    <!-- events - this is where handelbars attaches -->
    <div id='events' class="black">
      <script id="event_template" type="text/x-handlebars-template">

        <!-- one event -->
        <div class="row event" data-event-id={{_id}}>

          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">


                <!-- begin event internal row -->

                <div class='row'>

                  <div class="col-md-9 col-xs-12">
                    <ul>
                      <div class="col-md-2 col-xs-12">
                        <li><h4>Date: </h4>&nbsp<span>{{date}}</span></li>
                      </div>
                      <div class="col-md-2 col-xs-12">
                        <li><h4>Host Name: </h4>&nbsp<span>{{_host.name}}</span></li>
                      </div>
                      <div class="col-md-2 col-xs-12">
                        <li><h4>Minimum Level: </h4>&nbsp<span>{{minimum_level}}</span></li>
                      </div>
                      <div class="col-md-2 col-xs-12">
                        <li><h4>Status: </h4>&nbsp<span>{{status}}</span></li>
                      </div>
                      <div class="col-md-2 col-xs-12">
                        <li><h4>1st Violin: </h4>&nbsp<span>{{violin1.name}}</span></li>
                      </div>
                      <div class="col-md-2 col-xs-12">
                        <li><h4>2nd Violin: </h4>&nbsp<span>{{violin2.name}}</span></li>
                      </div>
                      <div class="col-md-2 col-xs-12">
                        <li><h4>Viola: </h4>&nbsp<span>{{viola.name}}</span></li>
                      </div>
                      <div class="col-md-2 col-xs-12">
                        <li><h4>Cello: </h4>&nbsp<span>{{cello.name}}</span></li>
                      </div>
                      <div class="col-md-2 col-xs-12">
                        <button class='btn btn-primary edit-event' id="edit-event">Edit Event</button>
                      </div>
                    </ul>
                  </div>
                </div>
                <!-- end of event internal row -->

              </div>
            </div>
          </div>
        </div>
        <!-- end one event -->


      </script>
    </div>
  </section>





  <!-- begin eventModal: this is not visible until you call .modal() on it -->
<div class="modal fade" tabindex="-1" role="dialog" id="eventModal" data>
  <div class="modal-dialog">
    <div class="modal-content main inputLabel">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 id="edit-event-title" class="modal-title">Create Event</h3>
      </div>
      <div class="modal-body">
        <form  id="newEventForm">
          <fieldset class='form-horizontal'>
            <!-- Text input-->
            <div class="form-group">
              <div class="col-md-7">
                <label class="control-label" for="edit_date">Event Date</label>
                <input id="edit_date" name="edit_date" type="text" placeholder="" class="form-control black" required="">
                <label class="control-label" for="edit_min_level">Minimum Level</label>
                <select name="edit_min_level" id ="edit_min_level" value="" class="form-control input-md">
                  <option value="10">Professional</option>
                  <option value="9">A+</option>
                  <option value="8">A</option>
                  <option value="7">A-</option>
                  <option value="6">B+</option>
                  <option value="5">B</option>
                  <option value="4">B-</option>
                  <option value="3">C+</option>
                  <option value="2">C</option>
                  <option value="1">C-</option>
                </select>
                <h4>1st Violin:<span id='violin1'></span></h4>
                <h4>2nd Violin:<span id='violin2'></span></h4>
                <h4 >Viola:<span id='viola'></span></h4>
                <h4 >Cello:<span id='cello'></span></h4>

              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveEvent">Save changes</button>
        <button type="button" class="btn btn-primary" id="deleteEvent">Delete Event</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</body>

</html>
