<!DOCTYPE HTML>
<html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="vendor/jQuery/dist/jquery.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- <script src="vendor/handlebars/handlebars.min.js"></script> -->

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/login.js"></script>


</head>

<body>
  <div class="container" id="login">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" id="aboutBanner">
        <h1 id="aboutTitle"><b>Welcome to Chamber Match</b></h1></div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" id="aboutText">
        <h4>Let players know when you'll be getting together so they can join you and
          join other players as you travel around the world.</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <h3 class="white">Log In Failed</h3>
          <div class="actions">
              <a href="/login" class="btn btn-block btn-primary login-btn">Try Again</a>
          </div>
      </div>
    </div>
  </div>
</body>

</html>
