<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Chamber Match Search</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="vendor/jQuery/dist/jquery.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js"></script>
  <script src="vendor/handlebars/handlebars.min.js"></script>


  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/search.js"></script>

</head>

<body>
  <div class="container"
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Search for an Event</h1>
      </div>
      <div id="profile" class="col-md-8 col-md-offset-2">
      </div>
    </div>
  </div>



  <div>
    <form class="form-inline" id="search_form">
      <div class="form-group">
        <label for="search_date">Date</label>
        <input type="text" id="search_date" class="form-control" name="search_date">
      </div>
        <label for="city">City</label>
        <input type="text" id="query_city" class="form-control" name="city">
      </div>
      <div class="col-md-4">
        <button id="searchButton" name="searchButton" class="btn btn-primary">Search Events</button>
      </div>
    </form>
    <a href="/" class="btn btn-primary">Return to My List</a>
  </div>

  <!-- event list -->

  <section class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Matching Events</h2>
      </div>
    </div>
    <!-- events - this is where handelbars attachs -->
    <div id='events'>
      <script id="event_template" type="text/x-handlebars-template">



        <!-- one event -->
        <div class="row event" data-event-id={{_id}}>

          <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
              <div class="panel-body">


                <!-- begin event internal row -->

                <div class='row'>

                  <div class="col-md-9 col-xs-12">
                    <h4>Host Name:</h4>
                    <span id='_host'>{{_host.name}}</span>
                    <h4 >Status:</h4>
                    <span id='status'>{{status}}</span>
                    <h4 >Min Level:</h4>
                    <span id='minimum_level'>{{minimum_level}}</span>
                    <button class='btn btn-primary edit-event' id="view-event">View Event</button>
                  </div>
                </div>
                <!-- end of event internal row -->

              </div>
            </div>
          </div>
        </div>
        <!-- end one event -->


      </script>
    </div>
  </section>





  <!-- begin eventModal: this is not visible until you call .modal() on it -->
<div class="modal fade" tabindex="-1" role="dialog" id="eventModal">
  <div class="modal-dialog modal-admin">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">View Event</h4>
      </div>
      <div class="modal-body black">
        <div class="col-md-2">
          <h4>Date:</h4>
          <span id='view_date'>""</span>
          <h4>Minimum Level:</h4>
          <span id='view_level'>""</span>
        </div>
        <div>
          <h4>1st Violin:</h4>
          <span id="violin1"></span>
          <button id="violin1Button" name="violin1Button" class="btn btn-primary" >Select</button>
        </div>
        <div>
          <h4>2nd Violin:</h4>
          <span id="violin2"></span>
          <button id="violin2Button" name="violin2Button" class="btn btn-primary" >Select</button>
        </div><div>
          <h4>Viola:</h4>
          <span id="viola"></span>
          <button id="violaButton" name="violaButton" class="btn btn-primary" >Select</button>
        </div><div>
          <h4>Cello:</h4>
          <span id="cello"></span>
          <button id="celloButton" name="celloButton" class="btn btn-primary" >Select</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveEvent">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</body>

</html>
