<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Chamber Match</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="vendor/jQuery/dist/jquery.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="vendor/handlebars/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/search.js"></script>

</head>

<body>
  <div class="container"
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Search for an Event</h1>
      </div>
      <div id="profile" class="col-md-8 col-md-offset-2">
      </div>
    </div>
  </div>



  <div>
    <form class="form-inline" id="search_form">
      <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" name="date" required>
      </div>
        <label for="city">City</label>
        <input type="text" class="form-control" name="city">
      </div>
      <div class="col-md-4">
        <button id="searchButton" name="searchButton" class="btn btn-primary">Search Events</button>
      </div>
    </form>
  </div>

  <!-- event list -->

  <section class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Matching Events</h2>
      </div>
    </div>
    <!-- events - this is where handelbars attachs -->
    <div id='events'>
      <script id="event_template" type="text/x-handlebars-template">



        <!-- one event -->
        <div class="row event" data-event-id={{_id}}>

          <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
              <div class="panel-body">


                <!-- begin event internal row -->

                <div class='row'>

                  <div class="col-md-9 col-xs-12">
                    <h4>Host Name:</h4>
                    <span id='_host'>{{_host.name}}</span>
                    <h4 >Status:</h4>
                    <span id='status'>{{status}}</span>
                    <h4 >Min Level:</h4>
                    <span id='minimum_level'>{{minimum_level}}</span>
                  </div>
                </div>
                <!-- end of event internal row -->

              </div>
            </div>
          </div>
        </div>
        <!-- end one event -->


      </script>
    </div>
  </section>





  <!-- begin eventModal: this is not visible until you call .modal() on it -->
<div class="modal fade" tabindex="-1" role="dialog" id="eventModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Event</h4>
      </div>
      <div class="modal-body">
        <form  id="newEventForm" data-user_id="">
          <fieldset class='form-horizontal'>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="edit_date">Event Date</label>
              <div class="col-md-4">
                <input id="edit_date" name="edit_date" type="text" placeholder="" class="form-control input-md" required="">
              </div>
            </div>

            <!-- Text input-->

            <div class="form-group">
              <label class="col-md-4 control-label" for="edit_minimum_level">Minimum Level</label>
              <div class="col-md-4">
                <select name="edit_minimum_level" id ="edit_level" class="form-control input-md">
                  <option value="10">Professional</option>
                  <option value="9">A+</option>
                  <option value="8">A</option>
                  <option value="7">A-</option>
                  <option value="6">B+</option>
                  <option value="5">B</option>
                  <option value="4">B-</option>
                  <option value="3">C+</option>
                  <option value="2">C</option>
                  <option value="1">C-</option>
                </select>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveEvent">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</body>

</html>
