<!DOCTYPE HTML>
<html lang="en">

  <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Sign Up</title>

      <!-- STYLESHEETS -->
      <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="styles/styles.css">

      <!-- VENDOR SCRIPTS -->
      <script src="vendor/jQuery/dist/jquery.min.js"></script>
      <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  </head>

  <body>
      <div class="container main" id="signup">
        <div class="row">
          <div class="col-sm-3">
            <h2 class="white">Sign Up</h2>
            <ul class="form-fields">

              <form method="POST" action="/signup">
                  <div class="form-group col-md-6 col-md-offset-1">
                      <input type="text" name="username" class="form-control set-width" placeholder="Username" autofocus>
                  </div>
                  <div class="form-group col-md-6 col-md-offset-1">
                      <input type="password" name="password" class="form-control  set-width" placeholder="Password">
                  </div>
                  <div class="form-group col-md-6 col-md-offset-1">
                      <input type="submit" class="btn btn-block btn-primary login-btn  set-width" value="Sign Up">
                  </div>
              </form>
            </ul>
          </div>
        </div>
    </div>
  </body>

</html>
