ul
{
  display:flex;
  list-style:none;
}

.btn{
  margin: 10px;
  background-color: #553311

}

.btn:hover {
  background-color: #ccbb55;
}

.label, label.inline {
    display: inline-block;
    width: 50px;
}

.modal-background {
    background-image: url("../images/mozart.jpeg");
}
.modal-admin {
    /* new custom width */
    width: 1000px;
    /* must be half of the width, minus scrollbar on the left (30px) */
}
.black {
  color: black;
}

.red {
  color: red;
}
.main {
  background-image: url("../images/6938519-Grunge-musical-background-Stock-Photo-music-sheet-background.jpg");
}

.white {
  color: white;
}

.inputLabel
{
	text-shadow: 2px 2px 2px black;
	color: white;
	font-size: 20px;
  background-color: black;
}

.inputForm {
  text-shadow: 2px 2px 2px black;
	color: white;
	font-size: 20px;
  margin-left: 55px;
}


input[type="text"] {
  border: 2px #ccaaaa solid;
  font-size: 15px
}
