ul
{
  display:flex;
  list-style:none;
  padding-left: 0px;
  padding-right: 30px;
}

.btn{
  background-color: black;
  border: white;
  border-width: 5px;

}

.login-btn{
  background-color: blue;
}

h1.transparant {
  color: white;
  text-shadow: 2px 2px 2px black;
}

#profile {
    background-color: rgba(237, 236, 236, 0.64);
    align-self: center;

}

#login {

    height:100vh;
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-image: url("../images/photo-1465847899084-d164df4dedc6.jpg");
    background-size: cover;
}

#signup {

    height:100vh;
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-image: url("../images/photo-1465847899084-d164df4dedc6.jpg");
    background-size: cover;
}
.btn:hover {
  background-color: #ccbb55;
}

.label, label.inline {
    display: inline-block;
    width: 50px;
}

.modal-background {
    background-image: url("../images/mozart.jpeg");
}
.modal-admin {
    /* new custom width */
    width: 1000px;
    /* must be half of the width, minus scrollbar on the left (30px) */
}
.black {
  color: black;
}



.red {
  color: red;
}
.main {
  height:100vh;
  min-width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-image: url("../images/photo-1460036521480-ff49c08c2781.jpg");
  background-size: cover;
}

.panel {
  background-color: rgba(237, 236, 236, 0.64);

}


.white {
  color: white;
}

.margin-left {
  margin-left: 30px;
}

.inputLabel
{
	text-shadow: 2px 2px 2px black;
	color: white;
	font-size: 20px;
  background-color: black;
}

.inputForm {
  text-shadow: 2px 2px 2px black;
	color: white;
	font-size: 20px;
  margin-left: 55px;
}


input[type="text"] {
  border: 2px #ccaaaa solid;
  font-size: 15px
}

#aboutText{
    text-align: center;
    color: white;
    /*color:#272b30;*/
    line-height: 1.75em;
    font-weight: bolder;
    background-color: rgba(237, 236, 236, 0.48);
    border-radius: 4px;
    font-size: 1em;
}

#aboutBanner{
      color: white;
    /*color: #272b30;*/
    margin-top: 10px;
    text-align: center;
    background-color: rgba(237, 236, 236, 0.48);
}

#aboutTitle{
  font-size: 50px;

}

.navcaret{
    text-align: top;
    padding: 0;
    /*margin-bottom: 400px;*/
}
.fa-caret-down{
    text-decoration: none;
}

i .fa .fa-caret-down .fa-2x{
    padding: 0;
    margin-top: 0px;
    vertical-align: top;
    color: aqua;
}

.caret {
    margin-top: 30px;
    margin-left: 20px;
    border-width: 12px;
    color: black;
  }


ul.dropdown-menu {
      color: black;
      background-color: white;
      text-align: left;
      text-shadow: none;
      padding-top: 0px;
      padding-bottom: 0px;
      white-space: nowrap;

}

.set-width{
  width: 180px;
  margin-left: -40px;
}
.block {
  display: inline-block;
}
.dropdown {
    color: black;
  }
/** {
background: #000 !important;
color: #0f0 !important;
outline: solid #f00 1px !important;
}*/
